<% content_for :left do %>
    тут будут рекламные баннеры
<% end %>

<% content_for :center do %>
    <div class="panel panel-default devise-bs">
      <%= bootstrap_devise_error_messages! %>
      <div class="panel-heading">
        <h4><%= t('.resend_unlock_instructions', default: 'Resend unlock instructions') %></h4>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, html: { role: "form" } }) do |f| %>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>
            <%= f.submit t('.resend_unlock_instructions', default: 'Resend unlock instructions'), class: 'btn btn-primary'%>
        <% end %>
      </div>
    </div>
    <%= render 'devise/shared/links' %>
<% end %>

<% content_for :right do %>
    тут будут рекламные баннеры
<% end %>

<%= render layout: "users/threecolumn" do %>
    <%= yield :left %>
    <%= yield :center %>
    <%= yield :left %>
<% end %>
